DROP SCHEMA public CASCADE;
CREATE SCHEMA public;


CREATE TABLE calendar (
  i date NOT NULL,
  PRIMARY KEY (i)
);
CREATE TABLE room_type (
  id varchar(6) NOT NULL,
  description varchar(100) DEFAULT NULL,
  PRIMARY KEY (id)
);
CREATE TABLE rate (
  room_type varchar(6) NOT NULL DEFAULT '',
  occupancy int NOT NULL DEFAULT '0',
  amount decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (room_type,occupancy),
  CONSTRAINT rate_ibfk_1 FOREIGN KEY (room_type) REFERENCES room_type (id)
);
CREATE TABLE room (
  id int NOT NULL,
  room_type varchar(6) DEFAULT NULL,
  max_occupancy int DEFAULT NULL,
  PRIMARY KEY (id),
  CONSTRAINT room_ibfk_1 FOREIGN KEY (room_type) REFERENCES room_type (id)
);
CREATE TABLE guest (
  id int NOT NULL,
  first_name varchar(50) DEFAULT NULL,
  last_name varchar(50) DEFAULT NULL,
  address varchar(50) DEFAULT NULL,
  PRIMARY KEY (id)
);
CREATE TABLE booking (
  booking_id int NOT NULL,
  booking_date date DEFAULT NULL,
  room_no int DEFAULT NULL,
  guest_id int NOT NULL,
  occupants int NOT NULL DEFAULT '1',
  room_type_requested varchar(6) DEFAULT NULL,
  nights int NOT NULL DEFAULT '1',
  arrival_time varchar(5) DEFAULT NULL,
  PRIMARY KEY (booking_id),
  CONSTRAINT booking_ibfk_1 FOREIGN KEY (room_no) REFERENCES room (id),
  CONSTRAINT booking_ibfk_2 FOREIGN KEY (guest_id) REFERENCES guest (id),
  CONSTRAINT booking_ibfk_3 FOREIGN KEY (room_type_requested) REFERENCES room_type (id),
  CONSTRAINT booking_ibfk_4 FOREIGN KEY (room_type_requested, occupants) REFERENCES rate (room_type, occupancy)
);
CREATE TABLE extra (
  extra_id int NOT NULL,
  booking_id int DEFAULT NULL,
  description varchar(50) DEFAULT NULL,
  amount decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (extra_id)
);
insert into calendar values ('2016-11-03');
insert into calendar values ('2016-11-04');
insert into calendar values ('2016-11-05');
insert into room_type values (N'double',N'Fabulously appointed double room.');
insert into room_type values (N'family',N'Superior appartment for up to 3 people.');
insert into room_type values (N'single',N'Luxury accomodation suitable for one person.');
insert into rate values (N'double',1,56.00);
insert into rate values (N'double',2,72.00);
insert into rate values (N'family',1,56.00);
insert into room values (101,N'single',1);
insert into room values (102,N'double',2);
insert into room values (103,N'double',2);
insert into guest values (1001,N'Jim',N'Dowd',N'Lewisham West and Penge');
insert into guest values (1002,N'Lyn',N'Brown',N'West Ham');
insert into guest values (1003,N'Ann',N'Clwyd',N'Cynon Valley');
insert into booking values (5001,'2016-11-03',101,1027,1,N'single',7,N'13:00');
insert into booking values (5002,'2016-11-03',102,1179,1,N'double',2,N'18:00');
insert into booking values (5003,'2016-11-03',103,1106,2,N'double',2,N'21:00');
